<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spica Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/admin_dashboard/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin_dashboard/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin_dashboard/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/admin_dashboard/images/favicon.png" />
</head>
<body>
    <div class="container-scroller d-flex">
        <div class="row p-0 m-0 proBanner" id="proBanner">
            <div class="col-md-12 p-0 m-0">
            </div>
        </div>
        <!-- partial:./partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas accordion" id="sidebar">
            <ul class="nav">
                <li class="nav-item sidebar-category">
                    <p>Navigation</p>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="mdi mdi-view-dashboard menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                        <div class="badge badge-info badge-pill">2</div>
                    </a>
                </li>
                <li class="nav-item sidebar-category">
                    <p>Forms</p>
                    <span></span>
                </li>
         
                <!--Addresses-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Address/address-list">
                        <i class="mdi mdi-home-map-marker menu-icon"></i>
                        <span class="menu-title">Addresses</span>
                    </a>
                </li>
                <!--CargoProcesses-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/CargoProcess/cargo-process-list">
                        <i class="mdi mdi-package-variant-closed menu-icon"></i>
                        <span class="menu-title">CargoProcesses</span>
                    </a>
                </li>
                <!--Categories-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Category/category-list">
                        <i class="mdi mdi-view-list menu-icon"></i>
                        <span class="menu-title">Categories</span>
                    </a>
                </li>
                <!--Customizations-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Customization/customizations-list">
                        <i class="mdi mdi-cards menu-icon"></i>
                        <span class="menu-title">Customizations</span> 
                    </a>
                </li>
                <!--Favorites-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Favorite/favorites-list">
                        <i class="mdi mdi-heart-box menu-icon"></i>
                        <span class="menu-title">Favorites</span>
                    </a>
                </li>
                <!--Menus-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Menu/menu-list">
                        <i class="mdi mdi-menu menu-icon"></i>
                        <span class="menu-title">Menus</span>
                    </a>
                </li>
                <!--Options-->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapse-option" aria-expanded="false" aria-controls="collapse-option">
                        <i class="mdi mdi-tune-vertical menu-icon"></i>
                        <span class="menu-title">Options</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="collapse-option" data-bs-parent="#sidebar">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> 
                                <a class="nav-link" href="~/Option/option-list">List</a>
                                </li>
                            <!--OptionTypes-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="~/OptionType/option-type-list">
                                    <i class="mdi mdi-tune menu-icon"></i>
                                    <span>Types</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--Orders-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Order/order-list">
                        <i class="mdi mdi-basket menu-icon"></i>
                        <span class="menu-title">Orders</span>
                    </a>
                </li>
                <!--Products-->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapse-product" aria-expanded="false" aria-controls="collapse-product">
                        <i class="mdi mdi-coffee menu-icon"></i>
                        <span class="menu-title">Products</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="collapse-product" data-bs-parent="#sidebar">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="~/Product/products-list">List</a></li>
                            <!--ProductCustomizations-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="~/ProductCustomization/product-customization-list">
                                    <i class="mdi mdi-delete-variant menu-icon"></i>
                                    <span>Customizations</span>
                                </a>
                            </li>
                            <!--ProductSizes-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="~/ProductSize/product-size-list">
                                    <i class="mdi mdi-cup menu-icon"></i>
                                    <span>Sizes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--Stores-->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapse-store" aria-expanded="false" aria-controls="collapse-store">
                        <i class=" mdi mdi-store  menu-icon"></i>
                        <span class="menu-title">Stores</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="collapse-store" data-bs-parent="#sidebar">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="~/Store/store-list">List</a></li>
                            <!--StoreFavorites-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="~/StoreFavorite/store-favorite-list">
                                    <i class="mdi mdi-star-outline  menu-icon"></i>
                                    <span>Favorites</span>
                                </a>
                            </li>
                            <!--StoreOpeningHours-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="~/StoreOpeningHour/store-opening-hour-list">
                                    <i class=" mdi mdi-speedometer  menu-icon"></i>
                                    <span>Opening Hours</span>
                                </a>
                            </li>
                            <!--StoreProducts-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="~/StoreProduct/store-product-list">
                                    <i class="mdi mdi-coffee menu-icon"></i>
                                    <span>Products</span>
                                </a>
                            </li>
                            <!--StoreProperties-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="~/StoreProperty/store-property-list">
                                    <i class=" mdi mdi-fingerprint  menu-icon"></i>
                                    <span>Properties</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--Properties-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Property/propertys-list">
                        <i class="mdi mdi-details menu-icon"></i>
                        <span class="menu-title">Properties</span>
                    </a>
                </li>
                <!--Sizes-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/Size/sizes-list">
                        <i class="mdi mdi-cup-water menu-icon"></i>
                        <span class="menu-title">Sizes</span>
                    </a>
                </li>
                <!--Users-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/User/user-list">
                        <i class="mdi mdi-account-circle menu-icon"></i>
                        <span class="menu-title">Users</span>
                    </a>
                </li>
                <!--WorkTimes-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="~/WorkTime/work-time-list">
                        <i class=" mdi mdi-clock  menu-icon"></i>
                        <span class="menu-title">Work Times</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:./partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <div class="navbar-brand-wrapper">
                        <a class="navbar-brand brand-logo" href="index.html"><img src="~/admin_dashboard/images/starbucks.svg" style="width:48px;" alt="logo" /></a>
                        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/admin_dashboard/images/logo-mini.svg" alt="logo" /></a>
                    </div>
                    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, Brandon Haynes</h4>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item">
                            <h4 class="mb-0 font-weight-bold d-none d-xl-block">@DateTime.Now.ToLongDateString() @DateTime.Now.ToShortTimeString()</h4>
                        </li>
                        <li class="nav-item dropdown me-1">
                            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-bs-toggle="dropdown">
                                <i class="mdi mdi-calendar mx-0"></i>
                                <span class="count bg-info">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="~/admin_dashboard/images/faces/face4.jpg" alt="image" class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal">
                                            David Grey
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            The meeting is cancelled
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="~/admin_dashboard/images/faces/face2.jpg" alt="image" class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal">
                                            Tim Cook
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            New product launch
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="~/admin_dashboard/images/faces/face3.jpg" alt="image" class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal">
                                            Johnson
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            Upcoming board meeting
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown me-2">
                            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                                <i class="mdi mdi-email-open mx-0"></i>
                                <span class="count bg-danger">1</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <i class="mdi mdi-information mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Just now
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-warning">
                                            <i class="mdi mdi-settings mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Settings</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Private message
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-info">
                                            <i class="mdi mdi-account-box mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
                <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                    <ul class="navbar-nav mr-lg-2">
                        @RenderSection("searchbar",false);
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                                <img src="~/admin_dashboard/images/faces/face5.jpg" alt="profile" />
                                <span class="nav-profile-name">Eleanor Richardson</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                <a class="dropdown-item">
                                    <i class=" mdi mdi-account  text-primary"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item">
                                    <i class="mdi mdi-settings text-primary"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link icon-link">
                                <i class="mdi mdi-plus-circle-outline"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link icon-link">
                                <i class="mdi mdi-web"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link icon-link">
                                <i class="mdi mdi-clock-outline"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                @RenderBody()
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:./partials/_footer.html -->
            @*<footer class="footer">
            <div class="card">
            <div class="card-body">
            <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard </a> templates</span>
            </div>
            </div>
            </div>
            </footer>*@
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/admin_dashboard/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/admin_dashboard/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admin_dashboard/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/admin_dashboard/js/off-canvas.js"></script>
    <script src="~/admin_dashboard/js/hoverable-collapse.js"></script>
    <script src="~/admin_dashboard/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/admin_dashboard/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="~/admin_dashboard/js/dashboard.js"></script>
    <!-- End custom js for this page-->
    <!-- Custom icon scripts -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--JQUERY SCRİPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>

</html>