@using EntityLayer
@model CargoProcess
@{
    ViewData["Title"] = "UpdateCargoProcess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Cargo Process</h4>
            <p class="card-description">
                Cargo Process Update
            </p>
            <form class="forms-sample" action="/CargoProcess/UpdateCargoProcess" method="post">
                <input type="hidden" class="form-control" name="cargoId" value="@Model.cargoProcessId">
                <div class="form-group">
                    <label>Cargo Status</label>
                    <input type="text" class="form-control" placeholder="Cargo Status" name="cargoStatus" value="@Model.cargoStatus">
                </div>
                <div class="form-group">
                    <label>Tracking Number</label>
                    <input type="text" class="form-control" placeholder="Tracking Number" name="trackingNumber" value="@Model.trackingNumber">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="cargoProcessDeleted">
                        @if(Model.cargoProcessDeleted)
                        {
                            <option value="False">Active</option>
                            <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                            <option value="False"selected>Active</option>
                            <option value="True">Pasive</option>
                        }

                    </select>
                </div>
                 <button type="submit" class="btn btn-inverse-info me-2">
                           <i class="mdi mdi-file-check btn-icon-prepend"></i>
                           Submit
                       </button>
                    <a class="btn btn-inverse-secondary" type="reset" href="/CargoProcess/Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

