@using EntityLayer
@model List<Category>
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<<<<<<< HEAD

<div class="col-11 grid-margin stretch-card">
              <div class="card m-5" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
=======
<div class="col-11 grid-margin stretch-card">
              <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
>>>>>>> a8bc19fe68808101e9989993b00009f5aba77f4a
                <div class="card-body">
                  <h4 class="card-title">Category</h4>
                  <p class="card-description">
                    Category Add
                  </p>
                  <form class="forms-sample" action="/Category/AddCategory" method="post">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Category Name" name="categoryName">
                    </div>
                    <div class="form-group">
                      <label>Category Logo</label>
                      <input type="text" class="form-control" placeholder="Category Logo" name="categoryLogoUrl">
                    </div>
<<<<<<< HEAD
                    <label>Parent Category</label>
                     <div class="form-group">
                    <select class="form-control" name="categoryParentId">
                        <option></option>
=======
                    <label>Parent Category Name</label>
                     <div class="form-group">
                    <select class="form-control" name="categoryParentId">
                        <option value="">NULL</option>
>>>>>>> a8bc19fe68808101e9989993b00009f5aba77f4a
                        @foreach (var item in Model)
                        {
                                <option value="@item.categoryId">@item.categoryName</option>
                        }
                    </select>
                    </div>
                    <div class="form-group">
                      <label>Status</label>
                        <select class="form-control" name="categoryDeleted">
                          <option value="False">Active</option>
                          <option value="True">Pasive</option>
                        </select>
                      </div>
<<<<<<< HEAD
                       <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a class="btn btn-light" type="reset" href="/Category/Index">Cancel</a>
=======
                       <button type="submit" class="btn btn-inverse-info me-2">
                           <i class="mdi mdi-file-check btn-icon-prepend"></i>
                           Submit
                       </button>
                    <a class="btn btn-inverse-secondary" type="reset" href="/Category/Index">Cancel</a>
>>>>>>> a8bc19fe68808101e9989993b00009f5aba77f4a
                  </form>
                </div>
              </div>
            </div>

