@using EntityLayer
@model Store
@{
    ViewData["Title"] = "UpdateStore";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Store</h4>
            <p class="card-description">
                Store Add
            </p>
            <form class="forms-sample" action="/Store/UpdateStore" method="post">
                <input type="hidden" class="form-control" name="StoreId" value="@Model.StoreId">
                <div class="form-group">
                    <label>Store Name</label>
                    <input type="text" class="form-control" placeholder="Store Name" name="StoreName" value="@Model.StoreName">
                    @Html.ValidationMessageFor(x=>x.StoreName,"",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label>Store Location</label>
                    <input type="text" class="form-control" placeholder="Store Location" name="StoreLocation" value="@Model.StoreLocation">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="StoreDeleted">
                        @if (Model.StoreDeleted)
                        {
                            <option value="False">Active</option>
                            <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                            <option value="False" selected>Active</option>
                            <option value="True">Pasive</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-inverse-info me-2">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Submit
                </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/Store/ListStore">Cancel</a>
            </form>
        </div>
    </div>
</div>


