@using EntityLayer
@model Store
@{
    ViewData["Title"] = "UpdateStore";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
        <div class="card-body">
            <h4 class="card-title">Size</h4>
            <p class="card-description">
                Store Add
            </p>
            <form class="forms-sample" action="/Store/UpdateStore" method="post">
                <input type="hidden" class="form-control" name="StorId" value="@Model.StoreId">
                <div class="form-group">
                    <label for="exampleInputEmail3">Store Name</label>
                    <input type="text" class="form-control" placeholder="Store Name" name="StoreName" value="@Model.StoreName">
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Status</label>
                    <select class="form-control" name="StoreDeleted">
                        @if (Model.StoreDeleted)
                        {
                            <option value="False">Active</option>
                            <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                            <option value="False" selected>Active</option>
                            <option value="True">Pasive</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a class="btn btn-light" type="reset" href="/Store/Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

