@using StarbucksProje.Models
@model StoreProductModel
@{
    ViewData["Title"] = "AddStoreProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    var products = Model.productModel;
    var store = Model.storeModel;
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Store Product</h4>
            <p class="card-description">
               Store Product Add
            </p>
            <form class="forms-sample" action="/StoreProduct/AddStoreProduct" method="post">
                <div class="form-group">
                    <label>Product Name</label>
                    <select class="form-control" name="productId">
                        @foreach (var item in products)
                        {
                                <option value="@item.productId">@item.productName</option>
                        }
                    </select>
                    </div>
                    <div class="form-group">
                    <label>Store Name</label>
                    <select class="form-control" name="StoreId">
                        @foreach (var item in store)
                        {
                                <option value="@item.StoreId">@item.StoreName</option>
                        }
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="StoreProductDeleted">
                            <option value="False">Active</option>
                            <option value="True">Pasive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-inverse-info me-2">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>
                        Submit
                    </button>
                    <a class="btn btn-inverse-secondary" type="reset" href="/StoreProduct/Index">Cancel</a>
            </form>
        </div>
    </div>
</div>


