@using EntityLayer
@model WorkTime
@{
    ViewData["Title"] = "AddWorkTime";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Work Time</h4>
            <p class="card-description">
               Work Time Add
            </p>
            <form class="forms-sample" action="/WorkTime/AddWorkTime" method="post">
                <div class="form-group">
                    <label>Opening Time</label>
                    <input type="text" class="form-control" placeholder="Opening Time" name="openingTime">
                </div>
                <div class="form-group">
                <label>Closing Time</label>
                <input type="text" class="form-control" placeholder="Closing Time" name="closingTime">
                 </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="WorkTimeDeleted">
                        <option value="False">Active</option>
                        <option value="True">Pasive</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-inverse-info me-2">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Submit
                </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/WorkTime/ListWorkTime">Cancel</a>
            </form>
        </div>
    </div>
</div>

