@using EntityLayer
@model Address
@{
    ViewData["Title"] = "AddAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
<<<<<<< HEAD
    <div class="card m-5 overflow-auto" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
=======
    <div class="card m-5 overflow-auto" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
>>>>>>> a8bc19fe68808101e9989993b00009f5aba77f4a
                <div class="card-body">
            <h4 class="card-title">Address</h4>
                  <p class="card-description">
                Address Add
                  </p>
            <form class="forms-sample" action="/Address/AddAddress" method="post">
                    <div class="form-group">
                    <label>Province</label>
                    <input type="text" class="form-control" placeholder="Province" name="province">
                    </div>
                <div class="form-group">
                    <label>District</label>
                    <input type="text" class="form-control" placeholder="District" name="district">
                </div>
                <div class="form-group">
                    <label>Neighbourhood</label>
                    <input type="text" class="form-control" placeholder="Neighbourhood" name="neighbourhood">
                </div>
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" class="form-control" placeholder="Street" name="street">
                </div>
                <div class="form-group">
                    <label>Apartment Number</label>
                    <input type="text" class="form-control" placeholder="Apartment Number" name="apartmentNumber">
                </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">Status</label>
                    <select class="form-control" name="addressDeleted">
                          <option value="False">Active</option>
                          <option value="True">Pasive</option>
                        </select>
                      </div>
<<<<<<< HEAD
                       <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a class="btn btn-light" type="reset" href="/Address/Index">Cancel</a>
=======
                        <button type="submit" class="btn btn-inverse-info me-2">
                           <i class="mdi mdi-file-check btn-icon-prepend"></i>
                           Submit
                       </button>
                    <a class="btn btn-inverse-secondary" type="reset" href="/Address/Index">Cancel</a>
>>>>>>> a8bc19fe68808101e9989993b00009f5aba77f4a
                  </form>
                </div>
              </div>
            </div>


