@using EntityLayer
@model Size
@{
    ViewData["Title"] = "UpdateSize";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Size</h4>
            <p class="card-description">
                Size Add
            </p>
            <form class="forms-sample" action="/Size/UpdateSize" method="post">
                <input type="hidden" class="form-control" name="sizeId" value="@Model.sizeId">
                <div class="form-group">
                    <label>Size Name</label>
                    <input type="text" class="form-control" placeholder="Size Name" name="sizeName" value="@Model.sizeName">
                    @Html.ValidationMessageFor(x => x.sizeName,"",new { @class ="text-danger" })
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="sizeDeleted">
                        @if(Model.sizeDeleted)
                        {
                            <option value="False">Active</option>
                            <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                            <option value="False" selected>Active</option>
                                <option value="True" >Pasive</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-inverse-info me-2">
                           <i class="mdi mdi-file-check btn-icon-prepend"></i>
                           Submit
                       </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/Size/ListSize">Cancel</a>
            </form>
        </div>
    </div>
</div>

