@using StarbucksProje.Models
@model CustomizationOptionModel
@{
    ViewData["Title"] = "AddCustomization";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var options = Model.optionModel;
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Customization</h4>
            <p class="card-description">
                Customization Add
            </p>
            <form class="forms-sample" action="/Customization/AddCustomization" method="post">
                <div class="form-group">
                    <label>Customization Name</label>
                    <input type="text" class="form-control" placeholder="Customization Name" name="customizationName" value="@Model.customizationModel.customizationName">
                    @Html.ValidationMessage("customizationName","",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label>Option Name</label>
                    <select class="form-control" name="optionId">
                        @foreach (var item in options)
                        {
                                <option value="@item.optionId">@item.optionName</option>
                        }
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="customizationDeleted">
                            <option value="False">Active</option>
                            <option value="True">Pasive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-inverse-info me-2">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>
                        Submit
                    </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/Customization/customizations-list">Cancel</a>
            </form>
        </div>
    </div>
</div>

