
@{
    Layout = null;
}
@{
    var errorCode = ViewBag.code;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Errors</title>
	<link href="~/css/errrorpage.css" rel="stylesheet" />
</head>
<body>

    <body style="background-image:url(https://www.salehriaz.com/404Page/img/bg_purple.png)">

        <div class="stars">
            <div class="custom-navbar">
                <div class="brand-logo">
                    <!--Logo-->
                </div>
                <div class="navbar-links">
                    <ul>
                        <!--Menü-->
                    </ul>
                </div>
            </div>
            <div class="central-body">
                <div class="errorCode">@errorCode</div>
                <div class="errorText">Looks like you are lost in space</div>
                <a href="~/Home/Index" class="btn-go-home">GO BACK HOME</a>
            </div>
            <div class="objects">
                <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" style= "width:40px">
                <div class="earth-moon">
                    <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" style= "width:100px">
                    <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" style= "width:80px">
                </div>
                <div class="box_astronaut">
                    <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" style= "width:140px">
                </div>
            </div>
            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>

            </div>

        </div>

    </body>
</body>
</html>
